# Python et la logique SQL

In [2]:
from pyquickhelper.ipythonhelper import add_notebook_menu
add_notebook_menu()

SQL vous avez tous ça dans le sang. 

SQL permet de créer des tables, de rechercher, d'ajouter, de modifier ou de supprimer des données dans les bases de données. Un peu ce que vous faites tous les jours. 

Sauf que SQL, c'est un langage pas un logiciel. 

Les instructions SQL s'écrivent d'une manière qui ressemble à celle de phrases ordinaires en anglais. Cette ressemblance voulue vise à faciliter l'apprentissage et la lecture. 

Comme avec STATA, on donne des ordres dans le programme, on ne parle plus de méthode ou d'objet comme dans Python. 

Là le tric, c'est d'utiliser le langage SQL dans le framework Python : mal à la tête ? ça va bien se passer...

## Exemple

In [9]:
#Exemple d'utilisation d'un langage type SQL 
# site avec des exemples http://www.w3schools.com/sql/sql_insert_into_select.asp

import sqlite3

# on crée une base de données SQL vide
CreateDataBase = sqlite3.connect('MyDataBase.db')

QueryCurs = CreateDataBase.cursor()

# on va créer une table qui contient plusieurs variables de format différents
# id sera la clé primaire de la base
# Nom, Rue, Ville, Region seront du text
# Note sera un réel

def CreateTable(nom_bdd):
    QueryCurs.execute('''CREATE TABLE ''' + nom_bdd + '''
    (id INTEGER PRIMARY KEY, Name TEXT,City TEXT, Country TEXT, Price REAL)''')

    
def AddEntry(nom_bdd, Nom,Ville,Region,Note):
    QueryCurs.execute('''INSERT INTO ''' + nom_bdd + ''' 
    (Name,City,Country,Price) VALUES (?,?,?,?)''',(Nom,Ville,Region,Note))

CreateTable('Clients')

AddEntry('Clients','Toto','Munich','Germany',5.2)
AddEntry('Clients','Bill','Berlin','Germany',2.3)
AddEntry('Clients','Tom','Lille','France',7.8)
AddEntry('Clients','Marvin','Miami','USA',15.2)

# on va "commit" c'est à dire qu'on va valider la transaction. 
# on va envoyer ses modifications locales vers le référentiel central - la base de données SQL

CreateDataBase.commit()

In [10]:
QueryCurs.execute('SELECT * FROM Clients WHERE City=="Berlin"')
Values = QueryCurs.fetchall()
print(Values)
print(type(Values),type(Values[0]))

[(2, 'Bill', 'Berlin', 'Germany', 2.3)]
<class 'list'> <class 'tuple'>

## Les commandes les plus fréquentes : 

Parmi les commandes SQL les plus utilisées, il y a : 

- SELECT - extraction d'une sélection dans une table
- UPDATE 
- DELETE 
- INSERT INTO 
- CREATE DATABASE
- ALTER DATABASE
- CREATE TABLE
- DROP TABLE 
- CREATE INDEX - créer une clé
- DROP INDEX 
- JOIN
    
Pour écrire des conditions : 

- on utilise AND et OR comme dans STATA
- BETWEEN value1 and value 2

In [11]:
QueryCurs.execute('SELECT * FROM Clients WHERE Country == "Germany"')
print(QueryCurs.fetchall())
QueryCurs.execute('SELECT * FROM Clients WHERE City=="Berlin" AND Country == "Germany"')
print(QueryCurs.fetchall())
QueryCurs.execute('SELECT * FROM Clients WHERE Price BETWEEN 7 AND 20')
print(QueryCurs.fetchall())

[(1, 'Toto', 'Munich', 'Germany', 5.2), (2, 'Bill', 'Berlin', 'Germany', 2.3)]
[(2, 'Bill', 'Berlin', 'Germany', 2.3)]
[(3, 'Tom', 'Lille', 'France', 7.8), (4, 'Marvin', 'Miami', 'USA', 15.2)]

## Enregistrer une table SQL sous un autre format 

On utilise le package csv, l'option 'w' pour 'write'. 

On crée l'objet "writer", qui vient du package csv.

Cet objet a deux méthodes : 
- writerow pour les noms de colonnes  : une liste
- writerows pour les lignes : un ensemble de liste

In [12]:
data = QueryCurs.execute('SELECT * FROM Clients')

import csv

file = open('output.csv', 'w')
writer = csv.writer(file)
writer.writerow(['id','Name','City','Country','Price'])
writer.writerows(data)

## Suppression d'une table

In [8]:
QueryCurs.execute('''DROP TABLE Clients''')
#QueryCurs.close()